In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.metrics as metrics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/birds_project/birds1.csv',encoding='unicode_escape')
df = df.head(30000)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.isna().sum()

Avibase.ID                 0
Species1_BirdLife          0
Species2_eBird           116
eBird.species.group        0
Species3_BirdTree         15
                       ...
Unnamed: 199           30000
Unnamed: 200           30000
Unnamed: 201           30000
Unnamed: 202           30000
Unnamed: 203           30000
Length: 204, dtype: int64

In [ ]:
df = df.drop(df.columns[25:204], axis=1)
df = df.drop(['Country'],axis=1)
df = df.drop(['Locality'],axis=1)

In [ ]:
df.columns

Index(['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'eBird.species.group', 'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index',
       'Tail.Length', 'Measurer', 'Protocol'],
      dtype='object')

In [ ]:
# df = df.values.reshape(-1, 1)

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)
df[['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'eBird.species.group', 'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index',
       'Tail.Length', 'Measurer', 'Protocol']] = imputer.fit_transform(df[['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'eBird.species.group', 'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index',
       'Tail.Length', 'Measurer', 'Protocol']])

In [ ]:
df.isna().sum()

Avibase.ID             0
Species1_BirdLife      0
Species2_eBird         0
eBird.species.group    0
Species3_BirdTree      0
Data.type              0
Source                 0
Specimen.number        0
Sex                    0
Age                    0
Country_WRI            0
Beak.Length_Culmen     0
Beak.Length_Nares      0
Beak.Width             0
Beak.Depth             0
Tarsus.Length          0
Wing.Length            0
Kipps.Distance         0
Secondary1             0
Hand-wing.Index        0
Tail.Length            0
Measurer               0
Protocol               0
dtype: int64

In [ ]:
arr1=df['eBird.species.group'].unique()

In [ ]:
df['eBird.species.group'].value_counts()

Cyanomitra olivacea                373
Cinnyris jugularis                 338
Alethe diademata                   321
Bleda notatus notatus              219
Chamaetylas poliocephala           177
                                  ...
Calliope tschebaiewi                 1
Cinnyris notatus voeltzkowi          1
Diomedea exulans amsterdamensis      1
Alophoixus ruficrissus               1
Anas nesiotis                        1
Name: eBird.species.group, Length: 3670, dtype: int64

In [ ]:
len(arr1)

3670

In [ ]:
len(df)

30000

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df = df.apply(LabelEncoder().fit_transform)

In [ ]:
df

,Avibase.ID,Species1_BirdLife,Species2_eBird,eBird.species.group,Species3_BirdTree,Data.type,Source,Specimen.number,Sex,Age,...,Beak.Width,Beak.Depth,Tarsus.Length,Wing.Length,Kipps.Distance,Secondary1,Hand-wing.Index,Tail.Length,Measurer,Protocol
0,2523,0,0,0,0,0,40,334,0,0,...,5,11,50,73,283,47,646,63,101,1
1,2523,0,0,0,0,0,40,514,0,0,...,3,6,59,73,293,38,668,92,101,1
2,2523,0,0,0,0,0,40,5076,1,0,...,3,9,51,90,293,57,639,82,101,1
3,2523,0,0,0,0,0,40,19869,1,0,...,3,8,24,90,283,67,617,92,101,1
4,2523,0,0,0,0,0,40,23703,1,0,...,10,5,28,130,83,393,179,102,52,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1965,3620,3335,3552,2914,0,40,6386,1,0,...,52,57,144,396,165,491,212,263,111,1
29996,1965,3620,3335,3552,2914,0,40,7708,1,0,...,55,62,150,366,153,473,206,225,111,1
29997,1965,3620,3335,3552,2914,0,40,9815,1,0,...,57,63,154,396,158,498,203,254,111,1
29998,1965,3620,3335,3552,2914,0,40,18778,1,0,...,53,61,149,396,170,486,219,235,111,1
29999,1965,3620,3335,3552,2914,0,40,23048,1,0,...,55,60,141,366,181,445,243,188,111,1

In [ ]:
# df=np.array(df)

In [ ]:
X = df[['Species1_BirdLife', 'Species2_eBird', 'Species3_BirdTree', 
        'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Hand-wing.Index', 
        'Tail.Length', 'Protocol']]
y = df[['eBird.species.group']]

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X = sc.fit_transform(X)
# y  = sc.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.10,random_state=0)

## RANDOM FOREST CLASSIFIER

In [ ]:
from sklearn.ensemble import RandomForestClassifier  
rfc= RandomForestClassifier(n_estimators= 5, criterion="entropy", bootstrap=True, oob_score=True)  
rfc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:564: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  UserWarning,

RandomForestClassifier(criterion='entropy', n_estimators=5, oob_score=True)

In [ ]:
y_pred_rfc = rfc.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred_rfc))

Accuracy: 0.8403333333333334

## DECISION TREE CLASSIFIER

---

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1234)
dtc = dtc.fit(X_train,y_train)
y_pred_dtc = dtc.predict(X_test)
#y_pred

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred_dtc))

Accuracy: 0.893

In [ ]:
df[['eBird.species.group']].value_counts()

eBird.species.group
2929                   373
2210                   338
333                    321
1171                   219
1887                   177
                      ...
1601                     1
2233                     1
1011                     1
1594                     1
3004                     1
Length: 3670, dtype: int64

# HYPERPARAMETER TUNUNG

In [ ]:
#Cross-validation
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [ ]:
cv = RepeatedStratifiedKFold(n_splits = 3,n_repeats = 2,random_state = 25)
cv

RepeatedStratifiedKFold(n_repeats=2, n_splits=3, random_state=25)

In [ ]:
space = dict(
    criterion = ['gini', 'entropy'],
    max_features = [12,17]
    )           


    # max_depth = [2,4,6,8,10,12],
    # ccp_alpha = [0.015,0.1],

In [ ]:
dtc.get_params().keys()

dict_keys(['ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'random_state', 'splitter'])

In [ ]:
#Grid search
#No random state exists
gsearch = GridSearchCV(dtc,space,scoring='accuracy',n_jobs=-1,cv=cv)
gsearch

GridSearchCV(cv=RepeatedStratifiedKFold(n_repeats=2, n_splits=3, random_state=25),
             estimator=DecisionTreeClassifier(random_state=1234), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': [12, 17]},
             scoring='accuracy')

In [ ]:
gresult = gsearch.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  UserWarning,

In [ ]:
#Grid search result
print('Best Score: %s' % gresult.best_score_)
print('Best Hyperparameters: %s' % gresult.best_params_)

Best Score: 0.9276666666666666
Best Hyperparameters: {'criterion': 'entropy', 'max_features': 17}

In [ ]:
#Grid search result
print('Accuracy after performing Tuning: %s' % gresult.best_score_)
print('Best Hyperparameters: %s' % gresult.best_params_)

Accuracy after performing Tuning: 0.9276666666666666
Best Hyperparameters: {'criterion': 'entropy', 'max_features': 17}

In [ ]:
dtc_2 = DecisionTreeClassifier(criterion="entropy",max_features=17)
classifier = dtc_2.fit(X_train,y_train)
y_pred_dtc = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
acc_class=accuracy_score(y_test,y_pred_dtc)
print("accuracy after tuning and fitting :",acc_class)

accuracy after tuning and fitting : 0.9343333333333333

In [ ]:
array_predict=classifier.predict(X_test[2000:2005])
print("prediction works successfully",array_predict)

prediction works successfully [2192 3149 3429  354  734]

In [ ]:
classifier.predict(X_test[2:3])

array([1169])

In [ ]:
y_pred_dtc

array([1061, 1385, 1169, ..., 2386, 1792, 2943])

In [ ]:
import pickle

In [ ]:
filename = 'finalized_bird_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [ ]:
import tensorflow
from tensorflow.keras import models

In [ ]:
model=classifier
models.save_model(model,'/content/drive/MyDrive/birds_project/')

AttributeError: ignored

In [ ]:
classifier.save('/content/drive/MyDrive/birds_project')

AttributeError: ignored