In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/birds_project/birds1.csv',encoding='unicode_escape')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df

,Avibase.ID,Species1_BirdLife,Species2_eBird,eBird.species.group,Species3_BirdTree,Data.type,Source,Specimen.number,Sex,Age,...,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201,Unnamed: 202,Unnamed: 203
0,AVIBASE-B3F5E5E2,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,1.0,NHMUK,11.4.1890,F,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVIBASE-B3F5E5E2,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,1.0,NHMUK,12.23.1890,F,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVIBASE-B3F5E5E2,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,1.0,NHMUK,1913.3.20.972,M,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIBASE-B3F5E5E2,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,1.0,NHMUK,87.3.22.1574,M,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVIBASE-B3F5E5E2,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,Abeillia abeillei,1.0,NHMUK,NaN,M,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90366,AVIBASE-614141B3,Zosterornis whiteheadi,Zosterornis whiteheadi,Zosterornis whiteheadi,Stachyris whiteheadi,1.0,UPLB,3428,F,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90367,AVIBASE-614141B3,Zosterornis whiteheadi,Zosterornis whiteheadi,Zosterornis whiteheadi,Stachyris whiteheadi,1.0,NHMUK,24.97.5.13.84,F,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90368,AVIBASE-614141B3,Zosterornis whiteheadi,Zosterornis whiteheadi,Zosterornis whiteheadi,Stachyris whiteheadi,1.0,NHMUK,872.97.5.13.265,M,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90369,AVIBASE-614141B3,Zosterornis whiteheadi,Zosterornis whiteheadi,Zosterornis whiteheadi,Stachyris whiteheadi,1.0,NHMUK,911.97.5.13.266,F,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90370,AVIBASE-614141B3,Zosterornis whiteheadi,Zosterornis whiteheadi,Zosterornis whiteheadi,Stachyris whiteheadi,1.0,NHMUK,96.1.17.7,M,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# df = pd.DataFrame(data)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90371 entries, 0 to 90370
Columns: 204 entries, Avibase.ID to Unnamed: 203
dtypes: float64(193), object(11)
memory usage: 140.7+ MB

In [7]:
df.isna().sum()

Avibase.ID                 1
Species1_BirdLife        338
Species2_eBird           366
eBird.species.group      182
Species3_BirdTree         68
                       ...
Unnamed: 199           90371
Unnamed: 200           90371
Unnamed: 201           90371
Unnamed: 202           90371
Unnamed: 203           90371
Length: 204, dtype: int64

In [8]:
# df[['Measurer']].value_counts()

In [9]:
df = df.drop(df.columns[25:204], axis=1)
df = df.drop(['Country'],axis=1)
df = df.drop(['Locality'],axis=1)

In [10]:
df.columns

Index(['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'eBird.species.group', 'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index',
       'Tail.Length', 'Measurer', 'Protocol'],
      dtype='object')

In [11]:
# df = df.values.reshape(-1, 1)

In [12]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)
df[['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'eBird.species.group', 'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index',
       'Tail.Length', 'Measurer', 'Protocol']] = imputer.fit_transform(df[['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'eBird.species.group', 'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index',
       'Tail.Length', 'Measurer', 'Protocol']])

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df = df.apply(LabelEncoder().fit_transform)

In [14]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# df = sc.fit_transform(df)

In [15]:
# df=np.array(df)

In [16]:
X = df[['Avibase.ID', 'Species1_BirdLife', 'Species2_eBird',
       'Species3_BirdTree', 'Data.type', 'Source',
       'Specimen.number', 'Sex', 'Age', 'Country_WRI', 'Beak.Length_Culmen',
       'Beak.Length_Nares', 'Beak.Width', 'Beak.Depth', 'Tarsus.Length',
       'Wing.Length', 'Kipps.Distance', 'Secondary1', 'Hand-wing.Index', 
        'Tail.Length', 'Measurer', 'Protocol']]
y = df[['eBird.species.group']]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.40,random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
y_pred = lr.predict(X_test)
# y_pred
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))